<h1>Add work</h1>

<form action="/projects/{{id}}/works/add" method="post">
    <label for="title">Work: </label>
    <input type="text" name="name" placeholder="Enter work" required><br><br>
    <button type="submit">Add</button>
</form>

<h3><a href="/projects/{{id}}/works">At Project</a></h3>